<form action="/checkout" method="post">
  <h1>Please enter an item to purchase:</h1>
  <input type="text" name="item" input id="item"><br>
  <button type="submit" value="submit">Submit</button>
</form>
